@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background-color: bisque;
}
.menu {
  padding: 5rem 0;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 0.2rem 0;
  text-transform: capitalize;
}

.underline {
  width: 6rem;
  height: 5px;
  background-color: burlywood;
  margin: 0 auto;
}

.btn-container {
  text-align: center;
  margin: 2rem 0 1rem;
}

.btn-container > button {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  text-transform: capitalize;
  border: 2px solid burlywood;
  background-color: white;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn-container > button:hover {
  color: white;
  text-shadow: 1px 1px 5px black;
  background-color: burlywood;
}
.section-center {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 95%;
  margin: 0 auto;
}

.menu-item {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.photo {
  object-fit: cover;
  height: 200px;
  aspect-ratio: 1.5;
  border: 2px solid burlywood;
  border-radius: 5px;
}

.item-info > header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted grey;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.item-title {
  text-transform: capitalize;
}

.item-info > p,
.item-info > header {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .section-center {
    grid-template-columns: 1fr;
  }
  .photo {
    height: 170px;
  }
  .menu-item {
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .section-center {
    grid-template-columns: 1fr;
  }
}
